<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PcapKeyInjector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PcapKeyInjector.Properties.Settings>
            <setting name="PathToEditcap" serializeAs="String">
                <value>C:\Program Files\Wireshark\editcap.exe</value>
            </setting>
            <setting name="OutputFilenamePattern" serializeAs="String">
                <value>{1}_withKey</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>C:\temp</value>
            </setting>
        </PcapKeyInjector.Properties.Settings>
    </userSettings>
</configuration>